body{
    background-color: #272727;
}
.Main{
    width: 450px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    background-color: #ffffff;
}
nav{
    width: 100%;
    text-align: center;
    height: 80px;
    border-bottom: 2px solid #dcdcdc;
}
nav a{
    font-size: 20px;
    margin-top: 8px;
    display: flex;
    position: fixed;
    padding-left: 66px;
    padding-right: 66px;
}
.course{
    border-bottom: 2px solid #000000;
    font-weight:bolder;
    margin-left: 225px;
    text-align: center;
}
.GPS{
    transition-duration: 0.1s;
    transition-timing-function: ease;
    color: #272727;
    &:hover{
        border-bottom: 2px solid #000000;
        color: #000000;
        font-weight: bolder;
        transition-duration: 0.1s;
        transition-timing-function: ease;
    }
}
section{
    margin: auto;
    margin-top: 20px;
    width: 400px;
    height: 150px;
    border: 1px solid black;
}
.Red{
    background-color: rgb(255, 127, 84);
}
.Green{
    background-color: rgb(54, 255, 161);
}
.title{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 900;
}
.sub_title{
    border-bottom: 1px solid #848484;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.bold{
    font-weight: bold;
}
.foot{
    font-size: 15px;
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 10px;
}